
.jumbotron {
  background: #FC354C;
  background: linear-gradient(to right, #0ABFBC, #FC354C);
  background: linear-gradient(to right. #0ABFBC, #FC354C);
  text-align: center;
  color: black;
  margin-left: 0px;
}

img {
  height: 200px;
  width: 150px;
  margin: 0px auto;
  vertical-align: middle;
}

.jumbotron {
  text-align: center;
  color: purple;
  margin-left: 0px;
}

img {
  height: 200px;
  width: 150px;
}

#gradient {
  background: linear-gradient(to right, #ffffcc 0%, #9966ff 100%);
}

body {
  background:linear-gradient( #ffb3b3 0%,#ccff66;);
  opacity: 20%;
  font-family: sans-serif;
}
