  .jumbotron {
      text-align: center;
      color: purple;
      margin-left: 0px;
    }
  img {
    float: left;
    height: 200px;
    width: 150px;
    margin-left: 150px;
    margin-top: 15px;
  }
  body {
  background-color: #ffb3b3;
}
.panel panel-info {
  border: 4px;
}
h2  {
  text-align: center;
}
